<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/jquery.tiles.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/ico/favicon.png">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>    
    <script src="/bootstrap/js/jquery.tiles.min.js"></script>
    <script src="/bootstrap/js/jquery.snow.min.js"></script>
    <script src="/bootstrap/js/jquery.contenthover.js"></script>
    
  </head>
  <body>
    <p>Join our <%= title %></p>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	       </button>
	       <a class="brand" href="/">Virtual Farmers Market</a>
	         <div class="nav-collapse collapse">
	           <ul class="nav">
		             <li class="active"><a href="#">Home</a></li>
		             <li><a href="/staffpicks">Buy</a></li>

	            </ul>
	            <form name="loginform" action="authenticate_user" method="post" class="navbar-form pull-middle">
	              <input class="span2" placeholder="Email" type="text" name="email" this.value="" required="required" >
	              <input class="span2" placeholder="Password" type="password" name="passwd" required="required" email: true >
	              <button type="submit" class="btn">Sign in</button>
	            </form>
	          </div><!--/.nav-collapse -->

	        </div>
	      </div>
	    </div>

	
    <div class="container">	      
      <div class="page-header" style="height:468px;">
	<div class="slider-wrap" style="max-height:468px;" >
		<div class="slider" style="max-height:468px;">
    		<img src="/bootstrap/img/IMG4.jpg"  />
			<img src="/bootstrap/img/IMG5.jpg"/>
    		<img src="/bootstrap/img/IMG3.jpg"/>
			<img src="/bootstrap/img/IMG2.jpg"/>
			<img src="/bootstrap/img/IMG1.jpg"/>
			<img src="/bootstrap/img/IMG6.jpg"/>
		</div>
	</div>
      </div>	
	
	  <!-- Example row of columns -->
	     
	     
      <div class="row">
        <div class="span1">      	  
            <ul class="nav nav-list">
	            <li class="nav-header">What we are?</li>
	            <li class="active"><a href="/">Home</a></li> 
	            <li><a href="/newuser">REGISTER</a></li>       
	            <li class="divider"></li>    
	            <li><a href="/staffpicks">Our Produces</a></li>
	            <li class="divider"></li> 
	            <li><a href="#">Share</a></li>       
            </ul>
        </div>
        <div class="span10">
  
	 <br> <br>			
	 <div class="products">
		<style>
			.contenthover p{
			    color:white;
			    font-weight:bold;
			    font-size:20px;
			    text-align:center;
			    margin-top:15px;
			}

			.contenthover a{
				display:block; 
				padding:15px 15px; 
				background:#3c9632; 
				color:#fff;
				position:absolute;
				bottom:0;
				width:85.5%;	            
		    	text-decoration:none;
			 }
		</style>
		<h3> Holiday Special! </h3>		
		<div class="product span3" >
	  
		  	<div class="image" id= "dhover2">
		      		<img src="/bootstrap/img/xmas-2.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
		  	</div>    
		  	<div class="contenthover">
			  <p>Perfect gift for holiday season!
			  <br/>
			  <a>$49.99</a> 
			  </p>
		  
		  	</div>  
			<script>
			$('#dhover2').contenthover({
			    overlay_background:'#032b01',
			    overlay_opacity:0.9,
			    overlay_width:210
			});
			</script>	
					  
				       
		</div><!-- .product span3 -->
	        	
		<div class="product span3">

			  <div class="image" id = "dhover3">
			      <img src="/bootstrap/img/xmas-3.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
			  </div>
			   <div class="contenthover">
				  <p>Perfect gift for holiday season!
				  <br/>
				  <a>$49.99</a> 
				  </p>
			  
			  </div>  
			  <script>
				$('#dhover3').contenthover({
				    overlay_background:'#032b01',
				    overlay_opacity:0.9,
				    overlay_width:210
				});
			 </script>	 
		</div><!-- .product span3 -->
	
		<div style="clear:both;"></div> <br> <br>
		<hr/>

		<h3> Other delicious products </h3>
	  		
		<div class="product span3">

			  <div class="image" id="dhover4">
			      <img src="/bootstrap/img/strawberry.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
			  </div> 
			  <div class="contenthover">
				  <p>Organic Strawberry
				  <br/>
				  <a>$9.99</a> 
				  </p>
			  
			  </div>  
			<script>
				$('#dhover4').contenthover({
				    overlay_background:'#032b01',
				    overlay_opacity:0.9,
				    overlay_width:210
				});
			</script>	      
		</div>
		<div class="product span3">

			  <div class="image" id="dhover5">
			      <img src="/bootstrap/img/peach.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
			  </div>   
			  <div class="contenthover">
				  <p>Organic Peach
				  <br/>
				  <a>$10.99</a> 
				  </p>
			  
			  </div>  
			 <script>
				$('#dhover5').contenthover({
				    overlay_background:'#032b01',
				    overlay_opacity:0.9,
				    overlay_width:210
				});
			</script>    
		</div>
	
		<div class="product span3">

		  <div class="image" id="dhover6">
		      <img src="/bootstrap/img/beets.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
		  </div>       
		  <div class="contenthover">
			  <p>Organic Beets
			  <br/>
			  <a>$4.99</a> 
			  </p>
		  
		  </div>  
		  <script>
			$('#dhover6').contenthover({
			    overlay_background:'#032b01',
			    overlay_opacity:0.9,
			    overlay_width:210
			});
		 </script>
		</div>
		<div style="clear:both;"></div> <br> <br>
		<div class="product span3" >

			  <div class="image" id="dhover7">
			      <img src="/bootstrap/img/fruitsofseason.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
			  </div>   
			  <div class="contenthover">
				  <p> Assorted oranges, peaches and apples
				  <br/>
				  <a>$14.99</a> 
				  </p>
			  
			  </div>  
      				<script>
					$('#dhover7').contenthover({
					    overlay_background:'#032b01',
					    overlay_opacity:0.9,
					    overlay_width:210
					});
     				 </script>    
		</div>
	
						
		<div class="product span3">

			  <div class="image" id="dhover8">
			      <img src="/bootstrap/img/apple-betty.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
			  </div>   
			  <div class="contenthover">
				  <p>Handmade Yummy! Apple-Betty
				  <br/>
				  <a>$12.99</a> 
				  </p>
			  
			  </div>  
      			<script>
				$('#dhover8').contenthover({
				    overlay_background:'#032b01',
				    overlay_opacity:0.9,
				    overlay_width:210
				});
     			 </script>      
		</div>
				
		<div class="product span3">

			  <div class="image" id="dhover9">
			      <img src="/bootstrap/img/cabbage.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
			  </div>       
			   <div class="contenthover">
				  <p>Organic Cabbage
				  <br/>
				  <a>$3.99</a> 
				  </p>
			  
			  </div>  
      			<script>
				$('#dhover9').contenthover({
				    overlay_background:'#032b01',
				    overlay_opacity:0.9,
				    overlay_width:210
				});
      			</script>   
		</div>
	        	
	        <div style="clear:both;"></div> <br> <br>

		<div class="product span3">

			  <div class="image" id="dhover10">
			      <img src="/bootstrap/img/carrots.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
			  </div>   
			   <div class="contenthover">
				  <p>Organic Carrots
				  <br/>
				  <a>$4.99</a> 
				  </p>
			  
			  </div>  
      			<script>
				$('#dhover10').contenthover({
				    overlay_background:'#032b01',
				    overlay_opacity:0.9,
				    overlay_width:210
				});
      			</script>       
		</div>

						
		<div class="product span3">

			  <div class="image" id="dhover11">
			      <img src="/bootstrap/img/PumpkinPie.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
			  </div>       
			   <div class="contenthover">
				  <p>Mom made gourmet pumkin pie
				  <br/>
				  <a>$12.99</a> 
				  </p>
			  
			  </div>  
      			<script>
				$('#dhover11').contenthover({
				    overlay_background:'#032b01',
				    overlay_opacity:0.9,
				    overlay_width:210
				});
      			</script>   
		</div>
		
		<div class="product span3">

			  <div class="image" id="dhover12">
			      <img src="/bootstrap/img/MurcottMandarin.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
			  </div>       
			  
			   <div class="contenthover">
				  <p>Organic Juicy Mandarin 
				  <br/>
				  <a>$13.99</a> 
				  </p>
			  
			  </div>  
      			<script>
				$('#dhover12').contenthover({
				    overlay_background:'#032b01',
				    overlay_opacity:0.9,
				    overlay_width:210
				});
      			</script>   
		</div>
	        	
	        <div style="clear:both;"></div> <br> <br>
	
		<div class="product span3">

			  <div class="image" id="dhover13">
			      <img src="/bootstrap/img/RicottaCheese.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
			  </div>       
			  
			   <div class="contenthover">
				  <p>Sinfully delicious Ricotta Cheese
				  <br/>
				  <a>$15.99</a> 
				  </p>
			  
			  </div>  
      				<script>
					$('#dhover13').contenthover({
					    overlay_background:'#032b01',
					    overlay_opacity:0.9,
					    overlay_width:210
					});
      				</script>   
		</div>
	
						
		<div class="product span3">

			  <div class="image" id="dhover14">
			      <img src="/bootstrap/img/ShepherdsPie.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
			  </div>       
			  
			  <div class="contenthover">
				  <p>Home-made Shepherds Pie
				  <br/>
				  <a>$12.99</a> 
				  </p>
			  
			  </div>  
      			<script>
				$('#dhover14').contenthover({
				    overlay_background:'#032b01',
				    overlay_opacity:0.9,
				    overlay_width:210
				});
      			</script>  
			  
		</div>
		
		<div class="product span3">

			  <div class="image" id="dhover15">
			      <img src="/bootstrap/img/AppleCrisp.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
			  </div>       
			  
			  <div class="contenthover">
				  <p>Home-made Shepherds Pie
				  <br/>
				  <a>$12.99</a> 
				  </p>
			  
			  </div>  
      			<script>
				$('#dhover15').contenthover({
				    overlay_background:'#032b01',
				    overlay_opacity:0.9,
				    overlay_width:210
				});
      			</script>  
			  
		</div>
	        		<div style="clear:both;"></div> <br> <br>
	
				<div class="product span3">
	  
	 				  <div class="image" id="dhover16">
					      <img src="/bootstrap/img/nuts.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
					  </div>       
					  
					  <div class="contenthover">
						  <p>Our speciality - Assorted nuts
						  <br/>
						  <a>$29.99</a> 
						  </p>
					  
					  </div>  
                      				<script>
							$('#dhover16').contenthover({
							    overlay_background:'#032b01',
							    overlay_opacity:0.9,
							    overlay_width:210
							});
                      				</script>  
	        		</div>
	
								
				<div class="product span3">
	  
	 				  <div class="image" id="dhover17">
					      <img src="/bootstrap/img/apple_oranges.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
					  </div>       
					  
					  <div class="contenthover">
						  <p>Mix of juicy delicious Apples and Oranges!
						  <br/>
						  <a>$16.99</a> 
						  </p>
					  
					  </div>  
                      			<script>
						$('#dhover17').contenthover({
						    overlay_background:'#032b01',
						    overlay_opacity:0.9,
						    overlay_width:210
						});
                      			</script>  
	        		</div>
				
				<div class="product span3">
	  
	 				  <div class="image" id="dhover18">
					      <img src="/bootstrap/img/FastShepherdsPie.jpg" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
					  </div>       
					  
					  <div class="contenthover">
						  <p>Home-made Hot Shepherds Pie
						  <br/>
						  <a>$12.99</a> 
						  </p>
					  
					  </div>  
                      			<script>
						$('#dhover18').contenthover({
						    overlay_background:'#032b01',
						    overlay_opacity:0.9,
						    overlay_width:210
						});
                      			</script>    
	        		</div>
	
				<div style="clear:both;"></div> <br> <br>
	
				<div class="product span3">
	  
	 				  <div class="image" id="dhover19">
					      <img src="/bootstrap/img/green-tea1.png" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
					  </div>       
					  
					  <div class="contenthover">
						  <p>Natural organic jasmine tea!
						  <br/>
						  <a>$17.99</a> 
						  </p>
					  
					  </div>  
                      			<script>
						$('#dhover19').contenthover({
						    overlay_background:'#032b01',
						    overlay_opacity:0.9,
						    overlay_width:210
						});
                      			</script>  
	        		</div>
	
								
				<div class="product span3">
	  
	 				  <div class="image" id="dhover20">
					      <img src="/bootstrap/img/green-tea2.png" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
					  </div>       
					  
					  <div class="contenthover">
						  <p>Smooth black tea!
						  <br/>
						  <a>$13.99</a> 
						  </p>
					  
					  </div>  
                      			<script>
						$('#dhover20').contenthover({
						    overlay_background:'#032b01',
						    overlay_opacity:0.9,
						    overlay_width:210
						});
                      			</script>  
	        		</div>
				
				<div class="product span3">
	  
	 				  <div class="image" id="dhover21">
					      <img src="/bootstrap/img/green-tea3.png" height="200" width="200" alt="" style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"style="border: 5px solid green"/>
					  </div>   
					  
					  <div class="contenthover">
						  <p>Blissful and healthy green tea!
						  <br/>
						  <a>$8.99</a> 
						  </p>
					  
					  </div>  
                      			<script>
						$('#dhover21').contenthover({
						    overlay_background:'#032b01',
						    overlay_opacity:0.9,
						    overlay_width:210
						});
                      			</script>
					      
	        		</div>
	        		        	        		        	
			

	</div><!-- .class products -->

   
          
       </div><!-- .class span8 -->
        <div class="span1">
                
                <a href="https://twitter.com/VFM_SJSU" class="twitter-follow-button"
                data-show-count="false" data-lang="en" data-size="large">
                Follow @VFM_SJSU</a>

                <script>
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                    if(!d.getElementById(id)){js=d.createElement(s);
                    js.id=id;
                    js.src="//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                </script>
                
                <br> <br>
                
                <a class="twitter-timeline" 
                 href="https://twitter.com/search?q=%23vfm_sjsu"
                 data-widget-id="398569442738581504">Tweets about "#vfm_sjsu"</a>
                <script>
                    !function(d,s,id){
                    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                    if(!d.getElementById(id)){
                    js=d.createElement(s);
                    js.id=id;
                    js.src=p+"://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                </script>
 
          <hr>           
 
         
            
	    </div><!-- .class span4 -->
         
          
            
	  </div><!-- .class== row -->
       
      <hr>

      <footer>
        <p>© SJSU Fall 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
 
 <script>
	$(document).ready(function($) {
	$('body').snowing(options);
	});

	//possible parameters and their default values:
	var options = {
	minSize : 30, //minimum size of single flake
	maxSize : 60, //maximum size of single flake
	minOpacity : 0.3, //minimum opacity of single flake (0-1 values range)
	maxOpacity : 1, //maximum opacity of single flake (0-1 values range)
	intensity : 10, //intensity of snowing (higher -> more intense)
	meltingTime : 5, //time after which flakes disappear (higher -> later)
	flakeColors : ["#AAFFAA", "#AAAAFF", "#CCCCFF"], //array of possible colors that flakes randomly take
	flakeChars : ['&#10052;', '&#10053;', '&#10054;'] //array of possible unicode characters codes that flakes randomly take
	};
</script>    
<script>

      var $slider = $('.slider-wrap');
      var html = $slider.html();

      // Options

      var defaults = {
        thumbSize: 20,
        onSlideshowEnd: function(){ $('.stop, .start').toggle() }
      };

      var effects = {
        'default': { x:6, y:4, random: true },
        simple: { x:6, y:4, effect: 'simple', random: true },
        left: { x:1, y:8, effect: 'left' },
        up: { x:20, y:1, effect: 'up', rewind: 60, backReverse: true },
        leftright: { x:1, y:8, effect: 'leftright' },
        updown: { x:20, y:1, effect: 'updown', cssSpeed: 500, backReverse: true },
        switchlr: { x:20, y:1, effect: 'switchlr', backReverse: true },
        switchud: { x:1, y:8, effect: 'switchud' },
        fliplr: { x:20, y:1, effect: 'fliplr', backReverse: true },
        flipud: { x:20, y:3, effect: 'flipud', reverse: true, rewind: 75 },
        reduce: { x:6, y:4, effect: 'reduce' },
        360: { x:1, y:1, effect: '360', fade: true, cssSpeed: 600 }
      };

      $('#effects-select').change(function() {
        var effect = $(this).val();
        $slider.fadeTo( 0,0 ).html( html );
        $('.stop').hide();
        $('.start').show();
        setTimeout(function() {
          $('.slider').tilesSlider( $.extend( {}, defaults, effects[ effect ] ) );
          $slider.fadeTo( 0,1 );
          $('body').removeClass('tiles-preload');
        }, 100 );
        $('.code').empty().html(function() {
          var e = effects[ effect ], c = [];
          for ( var i in e ) {
            if ( i !== 'effect' ) {
              c.push('<code>'+ i +': '+ e[i] +'</code>');
            }
          }
          return c.join('');
        });
      });

      $('.start').click(function() {
        $(this).hide();
        $('.stop').show();
        $('.slider').tilesSlider('start')
      });

      $('.stop').click(function() {
        $(this).hide();
        $('.start').show()
        $('.slider').tilesSlider('stop')
      });

      $('.slider').tilesSlider( $.extend( {}, defaults, effects['default'] ) );
     $('.slider').tilesSlider('start');
  </script>   


         

  
  </body>
</html>
