<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/ico/favicon.png">
    
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	       </button>
	       <a class="brand" href="./index.ejs">Virtual Farmers Market</a>
	         <div class="nav-collapse collapse">
	           <ul class="nav">
		             <li class="active"><a href="#">Home</a></li>
		             <li><a href="produces.ejs">Buy</a></li>
		             <li><a href="#about">Sell</a></li>
		             <li><a href="#about">About</a></li>
		             <li><a href="#contact">Contact</a></li>
		             <li class="dropdown">
			             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			             <ul class="dropdown-menu">
			                 <li><a href="#">Action</a></li>
			                 <li><a href="#">Another action</a></li>
			                 <li><a href="#">Something else here</a></li>
			                 <li class="divider"></li>
			                 <li class="nav-header">Nav header</li>
			                 <li><a href="#">Separated link</a></li>
			                 <li><a href="#">One more separated link</a></li>
			             </ul>
		             </li>
	            </ul>
	            <form name="loginform" action="authenticate_user" method="post" class="navbar-form pull-right">
	              <input class="span2" placeholder="Email" type="text" name="email">
	              <input class="span2" placeholder="Password" type="password" name="passwd">
	              <button type="submit" class="btn">Sign in</button>
	            </form>
	          </div><!--/.nav-collapse -->

	        </div>
	      </div>
	    </div>

	
    <div class="container">	      
      <div class="page-header">
	    <img src="/bootstrap/img/heading-background1.jpg"/>
      </div>	
	
	  <!-- Example row of columns -->
	     
	     
      <div class="row">
        <div class="span2">      	  
            <ul class="nav nav-list">
	            <li class="nav-header">What we are?</li>
	            <li class="active"><a href="/index">Home</a></li> 
	            <li><a href="/newuser">REGISTER</a></li>       
	            <li class="divider"></li>    
	            <li><a href="/produces">Our Produces</a></li>
	            <li><a href="/farmers">Our Farmers</a></li>
	            <li><a href="/staffpicks">Staff Picks</a></li>
	            <li class="divider"></li> 
	            <li><a href="#">Share</a></li>       
            </ul>
        </div>
        <div class="span6">
          <h2>Welcome to our Farmers Market </h2>
          <p>With our web portal consumer will get access to fresh, nutritious, delicious, 
environment friendly and healthier food for family available at their convenient location, 
from their known source.</p>
          <h2>Why eat local</h2>
          <p>Food businesses jeopardize the quality of food by overusing chemicals in order 
to mass produce the food and shorten the reach-to-market time, also the safety of food reaching 
from inventories located hundreds of miles away from store is also another point to peruse. </p>
          <h2>Farmers</h2>
          <p> Farmers will be able to record the video or take pictures of their inventory and
 make it available on our portal along with the details of fertilizers used for their plantation.
 Farmer can bid for their produce, if there weren’t any pre-orders </p>
          <h2>Consumers</h2>
          <p>Consumers can place an order for a product of their choice along with any delivery 
charges incurred. Buyer can give the feedback on his experience which will be available for other consumers who are subscribed for some food item. 
The system would recommend other purchases along with the items they choose. 
 A tweet feed of what items are available for sell can also be presented to all the users. </p>       
          
       </div>
        <div class="span4">
          <h2>Steps to Quality Food...</h2>
          <hr>
          <h3>1. Browse our website...</h3>
          <hr>
          <h3>2. Meet our producer and his farms ...</h3>
          <hr>
          <h3>3. Convince yourselves through their photos and videos...</h3>
          <hr>
          <h3>4. Place your order online...</h3>
          <hr>           
          <h3>5. Receive your delivery at home/work...</h3>          
         
            
	    </div><!-- .class span4 -->
         
          
            
	  </div><!-- .class span6 -->
       
      <hr>

      <footer>
        <p>© SJSU Fall 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bootstrap/js/jquery-1.10.2.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    

  
  </body>
</html>
