<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/ico/favicon.png">
    
  </head>
  <body>
     <p>Welcome to <%= title %></p>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	       </button>
	       <a class="brand" href="#">Virtual Farmers Market</a>
	         <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="active"><a href="/index">Home</a></li>
	              <li><a href="#about">Buy</a></li>
	              <li><a href="#about">Sell</a></li>
	              <li><a href="#about">About</a></li>
	              <li><a href="#contact">Contact</a></li>
	              <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
	                <ul class="dropdown-menu">
	                  <li><a href="#">Action</a></li>
	                  <li><a href="#">Another action</a></li>
	                  <li><a href="#">Something else here</a></li>
	                  <li class="divider"></li>
	                  <li class="nav-header">Nav header</li>
	                  <li><a href="#">Separated link</a></li>
	                  <li><a href="#">One more separated link</a></li>
	                </ul>
	              </li>
	            </ul>
	            <form class="navbar-form pull-right">
	              <input class="span2" placeholder="Email" type="text">
	              <input class="span2" placeholder="Password" type="password">
	              <button type="submit" class="btn">Sign in</button>
	            </form>
	          </div><!--/.nav-collapse -->

	        </div><!--/.container -->
	      </div><!--/.navbar-inner -->
	    </div><!--/.navbar navbar-inverse navbar-fixed-top -->
	    
	
    <div class="container">	
      
      <div class="page-header">
	    <img src="/bootstrap/img/heading-background1.jpg"/>
      </div><!--/.pageheader -->
	
	
	  <!-- Example row of columns -->
	     
	     
      <div class="row">
        <div class="span2">      	  
            <ul class="nav nav-list">
            <li class="nav-header">What we are?</li>
            <li><a href="/">Home</a></li>
            <li><a href="#">Create Account</a></li>
            <li class="divider"></li>    
            <li class="active"><a href="/produces">Our Produces</a></li>
            <li><a href="/farmers">Our Farmers</a></li>
            <li class="divider"></li> 
            <li><a href="#">Share</a></li>       
          </ul>
        </div><!--/.span2 -->
        <div class="span10">
          <h2>Welcome to our Farmers Market</h2>          
          <b>Fruits<b>
          <ul class="thumbnails">
            <li class="span3">
	          <div class ="thumbnail">
 	            <a href="#">
                  <img src="/bootstrap/img/tomato.jpg"/>
                </a>
	            <h4>Tomato:$2</h4>
              </div<!-- .thumbnail -->
	        </li><!--.span3 -->
            <li class="span3">
	          <div class ="thumbnail">
 	            <a href="#">
                  <img src="/bootstrap/img/strawberry.jpg"/>
                </a>
	            <h4>Strawberry $3</h4>
              </div<!-- .thumbnail -->
	        </li><!--.span3 -->
            <li class="span3">
	          <div class ="thumbnail">
 	            <a href="#">
                  <img src="/bootstrap/img/peach.jpg"/>
                </a>
	            <h4>Peach $4</h4>
              </div<!-- .thumbnail -->              
	        </li><!--.span3 -->
	        <li class="divider"></li> 
            <li class="span3">
	          <div class ="thumbnail">
 	            <a href="#">
                  <img src="/bootstrap/img/cabbage.jpg"/>
                </a>
	            <h4>Cabbage $1.50</h4>
              </div<!-- .thumbnail -->
	        </li><!--.span3 -->
            <li class="span3">
	          <div class ="thumbnail">
 	            <a href="#">
                  <img src="/bootstrap/img/carrots.jpg"/>
                </a>
	            <h4>Carrots $.80</h4>
	          </div<!-- .thumbnail -->
	        </li><!--.span3 -->
            <li class="span3">
	          <div class ="thumbnail">
 	            <a href="#">
                  <img src="/bootstrap/img/beets.jpg"/>
                </a>
	            <h4>Beets $.70</h4>
              </div><!-- .thumbnail -->
	        </li><!--.span3 -->
	    </div><!--/.span10 -->       
      </div><!--/.row -->      
       

      <hr>

      <footer>
        <p>© SJSU Fall 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="Bootstrap,%20from%20Twitter_files/jquery.js"></script>
    <script src="Bootstrap,%20from%20Twitter_files/bootstrap-transition.js"></script>
    <script src="Bootstrap,%20from%20Twitter_files/bootstrap-alert.js"></script>
    <script src="Bootstrap,%20from%20Twitter_files/bootstrap-modal.js"></script>
    <script src="Bootstrap,%20from%20Twitter_files/bootstrap-dropdown.js"></script>
    <script src="Bootstrap,%20from%20Twitter_files/bootstrap-scrollspy.js"></script>
    <script src="Bootstrap,%20from%20Twitter_files/bootstrap-tab.js"></script>
    <script src="Bootstrap,%20from%20Twitter_files/bootstrap-tooltip.js"></script>
    <script src="Bootstrap,%20from%20Twitter_files/bootstrap-popover.js"></script>
    <script src="Bootstrap,%20from%20Twitter_files/bootstrap-button.js"></script>
    <script src="Bootstrap,%20from%20Twitter_files/bootstrap-collapse.js"></script>
    <script src="Bootstrap,%20from%20Twitter_files/bootstrap-carousel.js"></script>
    <script src="Bootstrap,%20from%20Twitter_files/bootstrap-typeahead.js"></script>

  
  </body>
</html>